<h1 class = "title">　　　　　　Sketch nano</h1>
<p class="intro">
 これは人類史上最もすごいお絵かきアプリである！
</p>
<p>
<h2>sketch nanoについて</h2>
<div class="list-about-nano">
<p>
sketch nanoは、以下のようなことができます。
</p>
<ol>
  <li>絵が描ける</li>
  <li>投稿できる</li>
  <li>みんなの投稿をみれる</li>
  <li>"すき"をつけれる</li>
</ol>
</div>
<p><a href="/dashboard">→Enter←</a></p>
